<a href="https://colab.research.google.com/github/JamdhadeVikrant/Code/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

In [16]:
import numpy as np

In [22]:
data=pd.read_csv('/content/Iris.csv')

In [23]:
data

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa
2,NaN,4.7,3.2,1.3,0.2,Iris-setosa
3,NaN,4.6,3.1,1.5,0.2,Iris-setosa
4,NaN,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica

In [24]:
data.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           3.5            1.4           0.2  Iris-setosa
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa
3  NaN            4.6           3.1            1.5           0.2  Iris-setosa
4  NaN            5.0           3.6            1.4           0.2  Iris-setosa

In [25]:
data.head(12)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa
2,NaN,4.7,3.2,1.3,0.2,Iris-setosa
3,NaN,4.6,3.1,1.5,0.2,Iris-setosa
4,NaN,5.0,3.6,1.4,0.2,Iris-setosa
5,NaN,5.4,3.9,1.7,0.4,Iris-setosa
6,NaN,4.6,3.4,1.4,0.3,Iris-setosa
7,NaN,5.0,3.4,1.5,0.2,Iris-setosa
8,9.0,4.4,2.9,1.4,0.2,Iris-setosa
9,10.0,4.9,3.1,1.5,0.1,Iris-setosa
10,11.0,5.4,3.7,1.5,0.2,Iris-setosa
11,12.0,4.8,3.4,1.6,0.2,Iris-setosa

In [26]:
data.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica

In [27]:
data.tail(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146.0,6.7,3.0,5.2,2.3,Iris-virginica
146,147.0,6.3,2.5,5.0,1.9,Iris-virginica
147,148.0,6.5,3.0,5.2,2.0,Iris-virginica
148,149.0,6.2,3.4,5.4,2.3,Iris-virginica
149,150.0,5.9,3.0,5.1,1.8,Iris-virginica

In [28]:
data.index

RangeIndex(start=0, stop=150, step=1)

In [29]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [30]:
data.shape

(150, 6)

In [32]:
data.dtypes

Id               float64
SepalLengthCm    float64
SepalWidthCm     float64
PetalLengthCm    float64
PetalWidthCm     float64
Species           object
dtype: object

In [31]:
data.columns.values

array(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'], dtype=object)

In [33]:
data.describe(include='all')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,144.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,78.416667,5.843333,3.054000,3.758667,1.198667,NaN
std,41.861827,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,42.750000,5.100000,2.800000,1.600000,0.300000,NaN
50%,78.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,114.250000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

In [34]:
data["Id"]

0        1.0
1        2.0
2        NaN
3        NaN
4        NaN
       ...
145    146.0
146    147.0
147    148.0
148    149.0
149    150.0
Name: Id, Length: 150, dtype: float64

In [35]:
data.sort_index(axis=1 ,ascending=False)

,Species,SepalWidthCm,SepalLengthCm,PetalWidthCm,PetalLengthCm,Id
0,Iris-setosa,3.5,5.1,0.2,1.4,1.0
1,Iris-setosa,3.0,4.9,0.2,1.4,2.0
2,Iris-setosa,3.2,4.7,0.2,1.3,NaN
3,Iris-setosa,3.1,4.6,0.2,1.5,NaN
4,Iris-setosa,3.6,5.0,0.2,1.4,NaN
...,...,...,...,...,...,...
145,Iris-virginica,3.0,6.7,2.3,5.2,146.0
146,Iris-virginica,2.5,6.3,1.9,5.0,147.0
147,Iris-virginica,3.0,6.5,2.0,5.2,148.0
148,Iris-virginica,3.4,6.2,2.3,5.4,149.0
149,Iris-virginica,3.0,5.9,1.8,5.1,150.0

In [36]:
data.iloc[5]

Id                       NaN
SepalLengthCm            5.4
SepalWidthCm             3.9
PetalLengthCm            1.7
PetalWidthCm             0.4
Species          Iris-setosa
Name: 5, dtype: object

In [37]:
data[0:3]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           3.5            1.4           0.2  Iris-setosa
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa

In [38]:
data.iloc[:3, :]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           3.5            1.4           0.2  Iris-setosa
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa

In [39]:
data.iloc[:, :4]

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0      1.0            5.1           3.5            1.4
1      2.0            4.9           3.0            1.4
2      NaN            4.7           3.2            1.3
3      NaN            4.6           3.1            1.5
4      NaN            5.0           3.6            1.4
..     ...            ...           ...            ...
145  146.0            6.7           3.0            5.2
146  147.0            6.3           2.5            5.0
147  148.0            6.5           3.0            5.2
148  149.0            6.2           3.4            5.4
149  150.0            5.9           3.0            5.1

[150 rows x 4 columns]

In [40]:
data.iloc[:10, :4]

     Id  SepalLengthCm  SepalWidthCm  PetalLengthCm
0   1.0            5.1           3.5            1.4
1   2.0            4.9           3.0            1.4
2   NaN            4.7           3.2            1.3
3   NaN            4.6           3.1            1.5
4   NaN            5.0           3.6            1.4
5   NaN            5.4           3.9            1.7
6   NaN            4.6           3.4            1.4
7   NaN            5.0           3.4            1.5
8   9.0            4.4           2.9            1.4
9  10.0            4.9           3.1            1.5

In [41]:
data.iloc[3:5,0:2]

   Id  SepalLengthCm
3 NaN            4.6
4 NaN            5.0

In [42]:
data.iloc[[1, 2,4], [0, 2]]

    Id  SepalWidthCm
1  2.0           3.0
2  NaN           3.2
4  NaN           3.6

In [43]:
data.iloc[1:3, :]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa

In [44]:
data.iloc[:, 1:3]

     SepalLengthCm  SepalWidthCm
0              5.1           3.5
1              4.9           3.0
2              4.7           3.2
3              4.6           3.1
4              5.0           3.6
..             ...           ...
145            6.7           3.0
146            6.3           2.5
147            6.5           3.0
148            6.2           3.4
149            5.9           3.0

[150 rows x 2 columns]

In [45]:
data.iloc[1:1]

Empty DataFrame
Columns: [Id, SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm, Species]
Index: []

In [46]:
data['SepalLengthCm'].iloc[5]

np.float64(5.4)

In [47]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [48]:
data.columns.values

array(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm',
       'PetalWidthCm', 'Species'], dtype=object)

In [49]:
data.describe(include='all')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
count,144.000000,150.000000,150.000000,150.000000,150.000000,150
unique,NaN,NaN,NaN,NaN,NaN,3
top,NaN,NaN,NaN,NaN,NaN,Iris-setosa
freq,NaN,NaN,NaN,NaN,NaN,50
mean,78.416667,5.843333,3.054000,3.758667,1.198667,NaN
std,41.861827,0.828066,0.433594,1.764420,0.763161,NaN
min,1.000000,4.300000,2.000000,1.000000,0.100000,NaN
25%,42.750000,5.100000,2.800000,1.600000,0.300000,NaN
50%,78.500000,5.800000,3.000000,4.350000,1.300000,NaN
75%,114.250000,6.400000,3.300000,5.100000,1.800000,NaN
max,150.000000,7.900000,4.400000,6.900000,2.500000,NaN

In [51]:
data["Id"]

0        1.0
1        2.0
2        NaN
3        NaN
4        NaN
       ...
145    146.0
146    147.0
147    148.0
148    149.0
149    150.0
Name: Id, Length: 150, dtype: float64

In [ ]:
data.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [52]:
data.loc[:, ["Id","Species"]]

        Id         Species
0      1.0     Iris-setosa
1      2.0     Iris-setosa
2      NaN     Iris-setosa
3      NaN     Iris-setosa
4      NaN     Iris-setosa
..     ...             ...
145  146.0  Iris-virginica
146  147.0  Iris-virginica
147  148.0  Iris-virginica
148  149.0  Iris-virginica
149  150.0  Iris-virginica

[150 rows x 2 columns]

In [53]:
data.iloc[1:3, :]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa

In [54]:
data.iloc[:, 1:3]

     SepalLengthCm  SepalWidthCm
0              5.1           3.5
1              4.9           3.0
2              4.7           3.2
3              4.6           3.1
4              5.0           3.6
..             ...           ...
145            6.7           3.0
146            6.3           2.5
147            6.5           3.0
148            6.2           3.4
149            5.9           3.0

[150 rows x 2 columns]

In [55]:
data.iloc[1, 1]

np.float64(4.9)

In [56]:
data['SepalLengthCm'].iloc[5]

np.float64(5.4)

In [57]:
cols_2_4=data.columns[2:4]
data[cols_2_4]

     SepalWidthCm  PetalLengthCm
0             3.5            1.4
1             3.0            1.4
2             3.2            1.3
3             3.1            1.5
4             3.6            1.4
..            ...            ...
145           3.0            5.2
146           2.5            5.0
147           3.0            5.2
148           3.4            5.4
149           3.0            5.1

[150 rows x 2 columns]

In [59]:
data.sort_values(by="Id")

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1.0,5.1,3.5,1.4,0.2,Iris-setosa
1,2.0,4.9,3.0,1.4,0.2,Iris-setosa
8,9.0,4.4,2.9,1.4,0.2,Iris-setosa
9,10.0,4.9,3.1,1.5,0.1,Iris-setosa
10,11.0,5.4,3.7,1.5,0.2,Iris-setosa
...,...,...,...,...,...,...
3,NaN,4.6,3.1,1.5,0.2,Iris-setosa
4,NaN,5.0,3.6,1.4,0.2,Iris-setosa
5,NaN,5.4,3.9,1.7,0.4,Iris-setosa
6,NaN,4.6,3.4,1.4,0.3,Iris-setosa
7,NaN,5.0,3.4,1.5,0.2,Iris-setosa

In [60]:
data.iloc[[1, 2,4], [0, 2]]

    Id  SepalWidthCm
1  2.0           3.0
2  NaN           3.2
4  NaN           3.6

In [61]:
data.iloc[1:3, :]

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa

In [62]:
data[data.columns[2:4]].iloc[5:10]

   SepalWidthCm  PetalLengthCm
5           3.9            1.7
6           3.4            1.4
7           3.4            1.5
8           2.9            1.4
9           3.1            1.5

In [63]:
data.head()

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0  1.0            5.1           3.5            1.4           0.2  Iris-setosa
1  2.0            4.9           3.0            1.4           0.2  Iris-setosa
2  NaN            4.7           3.2            1.3           0.2  Iris-setosa
3  NaN            4.6           3.1            1.5           0.2  Iris-setosa
4  NaN            5.0           3.6            1.4           0.2  Iris-setosa

In [65]:
import pandas as pd
from sklearn import preprocessing

In [66]:
min_max_scaler = preprocessing.MinMaxScaler()

In [67]:
x=data.iloc[:,:4]

In [68]:
x_scaled = min_max_scaler.fit_transform(x)

In [69]:
df_normalized = pd.DataFrame(x_scaled)

In [70]:
df_normalized

            0         1         2         3
0    0.000000  0.222222  0.625000  0.067797
1    0.006711  0.166667  0.416667  0.067797
2         NaN  0.111111  0.500000  0.050847
3         NaN  0.083333  0.458333  0.084746
4         NaN  0.194444  0.666667  0.067797
..        ...       ...       ...       ...
145  0.973154  0.666667  0.416667  0.711864
146  0.979866  0.555556  0.208333  0.677966
147  0.986577  0.611111  0.416667  0.711864
148  0.993289  0.527778  0.583333  0.745763
149  1.000000  0.444444  0.416667  0.694915

[150 rows x 4 columns]

In [71]:
data_normalized = pd.DataFrame(x_scaled)

In [72]:
data_normalized

            0         1         2         3
0    0.000000  0.222222  0.625000  0.067797
1    0.006711  0.166667  0.416667  0.067797
2         NaN  0.111111  0.500000  0.050847
3         NaN  0.083333  0.458333  0.084746
4         NaN  0.194444  0.666667  0.067797
..        ...       ...       ...       ...
145  0.973154  0.666667  0.416667  0.711864
146  0.979866  0.555556  0.208333  0.677966
147  0.986577  0.611111  0.416667  0.711864
148  0.993289  0.527778  0.583333  0.745763
149  1.000000  0.444444  0.416667  0.694915

[150 rows x 4 columns]

In [73]:
data['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [74]:
label_encoder = preprocessing.LabelEncoder()

In [76]:
data['Species']= label_encoder.fit_transform(data['Species'])

In [77]:
data['Species'].unique()

array([0, 1, 2])

In [78]:
data['Species'].unique()

array([0, 1, 2])

In [79]:
features_data=data.drop(columns=['Species'])

In [81]:
enc = preprocessing.OneHotEncoder()

In [85]:
enc_df=pd.DataFrame(enc.fit_transform(data[['Species']]))

In [86]:
df_encode = features_data.join(enc_df)

In [87]:
df_encode

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,0
0,1.0,5.1,3.5,1.4,0.2,<Compressed Sparse Row sparse matrix of dtype ...
1,2.0,4.9,3.0,1.4,0.2,<Compressed Sparse Row sparse matrix of dtype ...
2,NaN,4.7,3.2,1.3,0.2,<Compressed Sparse Row sparse matrix of dtype ...
3,NaN,4.6,3.1,1.5,0.2,<Compressed Sparse Row sparse matrix of dtype ...
4,NaN,5.0,3.6,1.4,0.2,<Compressed Sparse Row sparse matrix of dtype ...
...,...,...,...,...,...,...
145,146.0,6.7,3.0,5.2,2.3,<Compressed Sparse Row sparse matrix of dtype ...
146,147.0,6.3,2.5,5.0,1.9,<Compressed Sparse Row sparse matrix of dtype ...
147,148.0,6.5,3.0,5.2,2.0,<Compressed Sparse Row sparse matrix of dtype ...
148,149.0,6.2,3.4,5.4,2.3,<Compressed Sparse Row sparse matrix of dtype ...
149,150.0,5.9,3.0,5.1,1.8,<Compressed Sparse Row sparse matrix of dtype ...

In [88]:
df_encode.rename(columns = {0:'Iris-Setosa',
1:'Iris-Versicolor',2:'Iris-virginica'}, inplace = True)

In [89]:
df_encode

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Iris-Setosa
0,1.0,5.1,3.5,1.4,0.2,<Compressed Sparse Row sparse matrix of dtype ...
1,2.0,4.9,3.0,1.4,0.2,<Compressed Sparse Row sparse matrix of dtype ...
2,NaN,4.7,3.2,1.3,0.2,<Compressed Sparse Row sparse matrix of dtype ...
3,NaN,4.6,3.1,1.5,0.2,<Compressed Sparse Row sparse matrix of dtype ...
4,NaN,5.0,3.6,1.4,0.2,<Compressed Sparse Row sparse matrix of dtype ...
...,...,...,...,...,...,...
145,146.0,6.7,3.0,5.2,2.3,<Compressed Sparse Row sparse matrix of dtype ...
146,147.0,6.3,2.5,5.0,1.9,<Compressed Sparse Row sparse matrix of dtype ...
147,148.0,6.5,3.0,5.2,2.0,<Compressed Sparse Row sparse matrix of dtype ...
148,149.0,6.2,3.4,5.4,2.3,<Compressed Sparse Row sparse matrix of dtype ...
149,150.0,5.9,3.0,5.1,1.8,<Compressed Sparse Row sparse matrix of dtype ...

In [90]:
data['Species'].unique()

array([0, 1, 2])

In [92]:
one_hot_df = pd.get_dummies(data, prefix="Species",
columns=['Species'], drop_first=True)

In [93]:
one_hot_df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species_1,Species_2
0,1.0,5.1,3.5,1.4,0.2,False,False
1,2.0,4.9,3.0,1.4,0.2,False,False
2,NaN,4.7,3.2,1.3,0.2,False,False
3,NaN,4.6,3.1,1.5,0.2,False,False
4,NaN,5.0,3.6,1.4,0.2,False,False
...,...,...,...,...,...,...,...
145,146.0,6.7,3.0,5.2,2.3,False,True
146,147.0,6.3,2.5,5.0,1.9,False,True
147,148.0,6.5,3.0,5.2,2.0,False,True
148,149.0,6.2,3.4,5.4,2.3,False,True
149,150.0,5.9,3.0,5.1,1.8,False,True